:root{
    --main-background-color: #1B1D24;
    --primary-color:#72EB3A;
    --secondary-color:#5D9D08;
    --tertiary-color:#1d7906;
    --complementary-color:#365A08;
    /*
    Green
    primary-#1d7906
    secondary-#5D9D08
    tertiary-#72EB3A

    Blue
    --primary-color:#23989e;
    --secondary-color:#00b1b4;
    --tertiary-color:#28e4e7;
    ;*/
}

/*MAJOR CSS Styles*/
*{
    margin: 0;
    padding: 0;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}
*,*::before,*::after{
    box-sizing:inherit;
}
@media (max-width: 75em) {
html{
    font-size: 60%;
  }
}
@media(max-width: 61.25em) {
html{
    font-size: 58%;
 }
}
@media (max-width: 28.75em) {
html{
    font-size: 55%;
 }
}
  
 /* BASE STYLES*/ 
body{
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    font-family: 'Poppins', sans-serif;
    background-color: var(--main-background-color);
    overflow-x: hidden;
}
h1,h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
  }
h1{
    font-size: 6rem;
}
h2{
    font-size: 4.2rem;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
img{
    display: block;
    width: 100%;
}

/*HEADER SECTION*/
header{
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2px 52px;
    position:fixed;
    width:100%;
    z-index: 100;
    height:20%;
    overflow: hidden;
}
#logo{
    position:inherit;
    margin-top:5px;
    width:100px;
}
.nav-menu{
    position:fixed;
    display: flex;
    flex-direction:column;
    align-items: center;
    left:-100%;
    top:20%;
    background-color: var(--secondary-color);
    width:100%;
    text-align: center;
    transition: 0.5s;
}
.hamburger{
    cursor:pointer;
    display:block;
}
.hamburger.active .bar:nth-child(2){
    opacity:0;
}
.hamburger.active .bar:nth-child(1){
    transform:translateY(12px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3){
    transform:translateY(-12px) rotate(-45deg);
}
.bar{
    display:block;
    width:50px;
    height:7px;
    margin:5px auto;
    -webkit-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
    background-color: antiquewhite;
    border-radius: 10px;
}
nav li{
    list-style: none;
}
nav a{
    font-size: 23px;
    color: #fff;
    font-weight: 500;  
}
nav a:hover,
nav a.active {
    color: var(--tertiary-color);
}
.nav-item{
    margin:25px 0;
}
.nav-menu.active{
    left:0;
}

/*MEDIA QUERY FOR MENU LIST*/
@media(max-width:510px){
    .nav-menu{
       top:119px;
    }
}


/*MAIN FACTORS AND OVERALL PRIORITY DESIGNS*/
main{
    width:100vw;
}
section{
    background-color: var(--main-background-color);
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: #1f242d;
    color: #fff;
    font-weight: 700;
    overflow: hidden;
}
section:nth-child(odd) {
    background: #323946;
}
h1{
    text-align: center;
    font-weight: bold;
    color: azure;
}
p{
    text-align: center;
    margin:20px;
    color:white;
}
a{
    color:white;
    text-decoration: none;
}

/*WELCOME SECTION*/
#home{
    display: flex;
    line-height: 5rem;
    height: 150vh;
    overflow: hidden;
}
.sharp{
    color: var(--secondary-color);
    font-weight: 200;
    font-style:italic;
    font-size: 3rem;
}
.intro{
    margin-top:150px;
    padding:50px;
}
/*SLIDESHOW*/
.container {
    max-width: 1200px;
    width: 85%;
  }
  
  .slider-wrapper {
    position: relative;
  }
  
  .slider-wrapper .slide-button {
    position: absolute;
    top: 50%;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    z-index: 5;
    color: #fff;
    display: flex;
    cursor: pointer;
    font-size: 2.2rem;
    background: var(--tertiary-color);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translateY(-50%);
  }
  
  .slider-wrapper .slide-button:hover {
    background: var(--primary-color);
  }
  
  .slider-wrapper .slide-button#prev-slide {
    left: -25px;
    display: none;
  }
  
  .slider-wrapper .slide-button#next-slide {
    right: -25px;
  }
  
  .slider-wrapper .image-list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 18px;
    font-size: 0;
    list-style: none;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
  }
  
  .slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
  }
  
  .slider-wrapper .image-list .image-item {
    width: 550px;
    height: 400px;
    object-fit: cover;
  }
  
  .container .slider-scrollbar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .slider-scrollbar .scrollbar-track {
    background: #ccc;
    width: 100%;
    height: 2px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    position: relative;
  }
  
  .slider-scrollbar:hover .scrollbar-track {
    height: 4.5px;
  }
  
  .slider-scrollbar .scrollbar-thumb {
    position: absolute;
    background: var(--tertiary-color);
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    cursor: grab;
    border-radius: inherit;
  }
  
  .scrollbar-thumb:hover{
    background: var(--primary-color);
  }

  .slider-scrollbar .scrollbar-thumb:active {
    cursor: grabbing;
    height: 8.5px;
    top: -2px;
  }
  
  .slider-scrollbar .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
  }
  
  /* Styles for mobile and tablets */
  @media only screen and (max-width: 1023px) {
    .slider-wrapper .slide-button {
      display: none !important;
    }
  
    .slider-wrapper .image-list {
      gap: 10px;
      margin-bottom: 15px;
      scroll-snap-type: x mandatory;
    }
  
    .slider-wrapper .image-list .image-item {
      width: 420px;
      height: 330px;
    }
  
    .slider-scrollbar .scrollbar-thumb {
      width: 20%;
    }
  }

/*ABOUT US AND WHAT WE DO*/
#aboutus{
    height:80%; 
    padding:3rem 1rem;
    display: block;
}
.projects-section-header {
    max-width:60%;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid var(--secondary-color);
  }
.intro-text{
    max-width: 900px;
    margin: 0 auto 6rem auto;
}
@media (max-width: 28.75em) {
    .intro-text {
      font-size: 2rem;
    }
}
.activity-layout{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap:4rem;
    width: 80%;
    margin:0 auto;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}
@media (max-width: 30.625em) {
    #aboutus {
      padding: 6rem 1rem;
    }
  
    .activity-layout {
      grid-template-columns: 1fr;
    }
}
.activity{
    background: rgba(142, 143, 143, 0.603);
    border-radius: 8px;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction:column;
}
.activity-image{
    width: 70%;
}
.impact-group{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}
.impact{
    background:var(--tertiary-color);
    border-radius: 8px;
    padding:1.4rem;
}
.impact-main-heading{
    max-width:30%;
    font-size: 3rem;
    margin: 5rem auto 2rem auto;
    border-bottom: 0.2rem solid var(--secondary-color);
}
.impact-heading{
    padding: 2.5rem 0.5rem;
}
@media (max-width: 30.625em) { 
 .impact-group {
    grid-template-columns: 1fr;
 }
}

/*LOCATION*/
#location{
    height: 80vh;
}
.location-heading{
    width: 60%;
    margin: 2rem auto 4rem auto;   
    border-bottom: 0.2rem solid var(--secondary-color);
}
.map{
    width: 100vw;
    height: 60vh;
}
/*CONTACT US*/
#contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 75vh;
    padding: 0 2rem;
}
.contact-section-header {
    width:60%;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid var(--secondary-color);
}
.icon{
    color:white;
    font-size: 50px;
    margin-left:40px;
    margin: 0 3px;
    transition: transform 0.3s ease-in-out;
}
.contact-links{
    margin-top:4rem;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
}
.contact-details{
   margin:2rem;
   transition: transform 0.4s ease-in-out;
}
.contact-details:hover{
    color:var(--secondary-color);
}
.contact-details:hover{
    transform: translateY(9px);
}

/*FOOTER*/
footer{
    border-top:4px solid var(--primary-color);
    height:20vh;
    color:white;
    display: flex;
    padding:2rem;
    width:100vw;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 300;
}
.social-icons-group{
    margin:1.2rem;
    display: flex;
    align-items: center;
}
.social-icon{
    margin:1.2rem;
    transition: transform 0.3s ease-in-out;
}
.social-icon:hover{
    transform: translateY(2px);
    color:var(--secondary-color);
}
